* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --color-bg-primary: #FAF9FB;
    --color-bg-secondary: #F0F0F0;
    --color-primary: #0090FF;
    --color-primary-light: #00B4FF;
    --color-text-primary: #1C2024;
    --color-text-secondary: #60646C;
    --color-alert: #CE2C31;

}

body {
    font-size: 1.6rem;
    background-color: var(--color-bg-primary);
}

body, input, button, textarea {
    font-family: 'Lato', sans-serif;
    outline: none;
}

header {
    background-color: var(--color-primary);
    padding: 4rem;
    text-align: center;
}

h1 {
    color: var(--color-text-primary);
    font-size: 3.2rem;
    font-weight: 900;
}

form {
    width: 100%;
    padding-inline: 2rem;
    margin: 2rem auto;
    border-bottom: 1px solid linear;
}

fieldset {
    border: none;
    border-bottom: 1px solid var(--color-primary-light);
}

legend {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-text-primary);
    padding-bottom: 1rem;
}

.company, .recipient, .service, .discount_tax {
    margin: 2rem 0 4rem;
}

form span {
    margin-top: 1.6rem; 
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--color-alert);
}

label {
    margin-top: 1.6rem;
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--color-text-primary);
}

input, textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    border: 1px solid var(--color-primary-light);
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    color: var(--color-text-primary);
}

input::placeholder, textarea::placeholder {
    color: var(--color-text-secondary);
}

textarea {
    resize: none;
    height: 10rem;
}

.btn {
    width: fit-content;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--color-primary-light);
    color: var(--color-text-primary);
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

#invoice {
    max-width: 100rem;
    width: fit-content;
    position: relative;
    margin: 18rem auto;
    background-color: var(--color-bg-secondary);
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 2rem;
}

#invoice > h2 {
    max-width: 65rem;
    width: fit-content;
    text-align: center;
    margin-right: 4rem;
    padding: 1rem;
    position: absolute;
    top: -16rem;
    font-size: 2.4rem;
    font-weight: 700;
    background-color: var(--color-alert);
    color: var(--color-bg-primary);
    margin-bottom: 2rem;
}

.invoiceHeaderInfo,
.invoiceHeaderCompany,
.invoiceHeaderRecipient,
.invoiceBodyDescription {
    text-align: center;
    border: 1px solid #000000;
}

.invoiceHeaderCompany,
.invoiceHeaderRecipient,
.invoiceBodyDescription {
    padding: 1rem;
    
}

.invoiceHeaderInfo .header {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem;
    border: 1px solid #000000;
}

.invoiceHeaderInfo .header h3{
    margin-top: 1rem;
}

.invoiceHeaderInfo .info {
    font-size: 1.6rem;
}

.invoiceHeaderInfo .info p {
    margin-top: 0.8rem;
    width: 100%;
    border-bottom: 1px solid #000000;
}

.invoiceHeaderCompany h2,
.invoiceHeaderRecipient h2,
.invoiceBodyDescription h2 {
    margin-block: 1rem;
    text-transform: uppercase;
}

.invoiceHeaderCompany p,
.invoiceHeaderRecipient p,
.invoiceBodyDescription p {
    padding-left: 1rem;
    text-align: start;
    margin-bottom: 0.1rem;
}

.invoiceBodyTaxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000000;

}

.invoiceBodyTaxes p {
    min-height: 4.5rem;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.1rem;
    border: 1px solid #000000;
}

.invoiceBody h5 {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    border: 1px solid #000000;

}

@media (min-width: 768px) {

    header {
        padding: 6rem;
    }

    h1 {
        font-size: 4.8rem;
    }

    form {
        padding-inline: 4rem;
    }

    .company, .recipient, .service, .discount_tax {
        margin: 2rem 0 4rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    legend {
        font-size: 3.2rem;
    }

    label {
        font-size: 2rem;
    }

    input {
        font-size: 1.8rem;
    }

    .company .companyCnpj, 
    .company .companyRegistration,
    .recipient .recipientCPF,
    .recipient .recipientEmail {
        flex: 1 1 20%;
    }

    .company .companyName, 
    .recipient .recipientName {
        width: 100%;
    }

    .company .companyAddress,
    .company .companyCep,
    .company .companyCity,
    .company .companyState,
    .recipient .recipientAddress,
    .recipient .recipientCep,
    .recipient .recipientCity,
    .recipient .recipientState,
    .service .serviceQuantity,
    .service .serviceValue,
    .service .serviceTotal {
        flex: 1 1 20%;
    }

    .service .serviceDescription {
        width: 100%;
    }

    #invoice {
        padding: 2rem 4rem;
        margin: 12rem auto;
    }
    
    #invoice > h2 {
        top: -10rem;
        font-size: 3.2rem;
        margin-bottom: 4rem;
    }

    .invoiceHeaderInfo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .invoiceHeaderInfo .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .invoiceHeaderInfo .info p {
        display: flex;
        flex-direction: column;
    }

    .invoiceBodyTaxes p {
        gap: 0.2rem;
        font-size: 1.6rem;
        align-items: center;
        padding: 0.5rem;
    }
}



